$primary-color: #091F43;
$secondary-color: #244883;
$bg-primary-color: white;
$bg-secondary-color: #efefef;
$font-primary-color: #091F43;
$font-secondary-color: white;
$alert-primary-color: darkred;
$alert-secondary-color: #D1515A;
$border-primary: 10px;
$border-secondary: 5px;